<h1>Add a new boat</h1>

<%= form_for @boat do |b| %>
	Boat name:<%= b.text_field :name %>
	Boat location: <%= b.text_field :location %>
	# of containers<%= b.text_field :containers %>
	<%= b.submit 'Create boat' %>

	<% end %>